:root.image-background-color-picker-applicable, :root.image-background-color-picker-applicable > body, :root.image-background-color-picker-applicable > body > img {
	background-color: dimgrey;
}
@media only screen 
  and (min-device-width: 210px) 
  and (max-device-width:320px)
{
	#coin-notify {
	text-align: center;
	display: grid;
padding: 10px 10px 0px 0px  !important;
font-size:12px;
	}

	label {
	display: inline-block;
	margin-bottom: .5rem;
	font-size: 14px !important;
}
	#facilities {
	display: flex;
	width: 270px !important;
}
  .nav-tabs li
  {
    width: 100%;
	margin-top:5px !important;
  }
  .ul-points1 {
    text-align: center;
  }
  .ul-points2 {
    text-align: center;
  }
  .ul-view-agent
  {
    width: 297px;
    height: fit-content;
    font-size: 11px;
    margin-left: -77px;
  }
  
  #header_1
  {
    height: 170px;
  }
  .text-Agent-name {
    text-align: center;
    margin-top: 30px;
  }
  .text-Agent-name ul {
    width: 100%;
    display: block;
    height: 50;
  }
  .text-Agent-name ul li {
    list-style-type: none;
    font-size: 16px;
    padding: 0px;
  }
  #About p
  {
    text-align: initial;
  }
  .ul-points {
    width: 100%;
    
 text-align: center;
  }
  .verify-icon {
    text-align: center;
  }
  #card-agent-view {
    padding: 50px 20px 50px 20px !important;
    width: 260px !important;
  }

  .ul-points li {
    display: flex;
    margin-top: 5px;
    float: left;
  }
  #card-img-top
{
  
        width: 168px;
        height: 168px;
        margin-top: 190px;
        margin-left:44px;
        border-radius: 100%;
		margin-right:0px;
 
}

/* end viewagent.css */

.float_right {
	float: none;
}
	.form-group
	{
     text-align: -webkit-center;
	 text-align: -moz-center;
	}
	.tbsearch
	{
		text-align: -webkit-center;
		text-align: -moz-center;
	}
	.table thead th {
    vertical-align: baseline !important;
    border-bottom: 2px solid #dee2e6;
}
	#maxRows {
    width: 248px !important;
}
	.tb_search {
    width: 250px;
    float: none !important;
}
	
	.table-responsive {
    display: block !important;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}
  .justify-content
{
    justify-content:start !important;
}
  .bg-light {
 
    z-index: 9999 !important;
  }
 .navbar-brand {
    color: #fff;
    display: none !important;
  }
  .edit-nav li
  {
    margin-top: 10px !important;
  }
  #agent-view
  {
    margin-top: 10px !important;
  }
  header {
 
    height: 115px !important;
  }
  .logo
  {
    text-align: center !important;
  }
 
#form-search {
	height: 390px !important;
	margin-top: 119px;
	
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 20px;

}
  .formsearch
  {
    margin-top: 10px !important;
  }
  #section {
   
    height: 589px !important;
    background-size: cover;
    margin-top: -85px !important;
  }
  
  #formsearch_btn
  {
    text-align: center !important;
  }
 .adds
{   
   background:#5e0016;
    width: 115px;
    height:50px;
    color: #ffff;
   
    font-family: Montserrat;
}
  #col-sm-row
  {
    margin-top: 10px !important;
  }
  .foot {
    background-color: #002f34;
    height: 85px !important;
  }
  .foot p {
    text-align: center;
    height: 30px;
    padding-top: 30px !important;
    padding-bottom: 30px !important;
    color: #ffffff;
    font-family: Montserrat;
  }
  #col-navlogin
  {
    margin-top: 10px !important;
  }
  #h6
  {
	  font-size:12px;
	  font-weight:500;
	  font-family: Montserrat;
  }
.rate {
    
	
	color: #ffffff;
	width: 160px;
	margin-top: -50px;
	height: 50px;

}
#card-details li {
    padding-left: 10px;
    list-style-type: none;
    font-size: 12px !important;
}
#card-details {
  
    height: auto;
    display: grid;
    margin-top: 10px;
    /* width: 300px; */
    margin-left: -43px !important;
}
.logo-img
{
width:135px !important;
}

.carddetails {
    font-size: 13px !important;
}
.btn-dashboard {
	background-color: #ebebeb;
	width: 150px;
	height: 150px;
	padding: 50px 37px 85px 32px;
}
#facilities {
	display: flex;
	width: 500px;
	margin-top: 21px;
}
.navbarbrand {
    display: block !important;
	padding-top: .3125rem;
	padding-bottom: .3125rem;
	margin-right: 1rem;
	font-size: 1.25rem;
	line-height: inherit;
	white-space: nowrap;
	color: #fff;
}
   .navbar-brand {
    display: none !important;
	padding-top: .3125rem;
	padding-bottom: .3125rem;
	margin-right: 1rem;
	font-size: 1.25rem;
	line-height: inherit;
	white-space: nowrap;
}
}
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
{
		#coin-notify {
	text-align: center;
	display: grid;
padding: 10px 10px 0px 0px  !important;
font-size:12px;
	}
	
   #facilities {
	display: flex;
	width: 500px;
	margin-top: 21px;
}
  .text-Agent-name {
    text-align: center;
    margin-top: 30px;
  }
  .text-Agent-name ul {
    width: 100%;
    display: block;
    height: 50;
  }
  .text-Agent-name ul li {
    list-style-type: none;
    font-size: 16px;
    padding: 0px;
  }
  #About p
  {
    text-align: initial;
  }
  .nav-tabs li
  {
    width: 100%;
	margin-top:5px;
  }
  .ul-points1 {
    text-align: center;
  }
  .ul-points2 {
    text-align: center;
  }
  .ul-view-agent
  {
    width: 297px;
    height: fit-content;
    font-size: 11px;
    margin-left: -77px;
  }
  
  #header_1
  {
    height: 170px;
  }
  .text-Agent-name {
    text-align: center;
    margin-top: 30px;
  }
  .ul-points {
    width: 100%;
    
 text-align: center;
  }
  .verify-icon {
    text-align: center;
  }
  #card-agent-view {
    padding: 50px 30px 50px 26px !important;
    width: 322px !important;
  }
  .ul-points li {
    display: flex;
    margin-top: 5px;
    float: left;
  }
  #card-img-top
{
  
        width: 168px;
        height: 168px;
        margin-top: 190px;
        
        border-radius: 100%;
		margin-right:0px;
 
}


  /* end viewagent.css */
	.float_right {
	float: none;
}
	.tbsearch
	{
		text-align: -webkit-center;
		text-align: -moz-center;
	}
	.form-group
	{
     text-align: -webkit-center;
	 text-align: -moz-center;
	}
		.table thead th {
    vertical-align: baseline !important;
    border-bottom: 2px solid #dee2e6;
}
	#maxRows {
    width: 248px !important;
}
	.tb_search {
    width: 250px;
    float: none !important;
}
	
	.table-responsive {
    display: block !important;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}
  .bg-light {
  
    z-index: 9999 !important;
  }

  #agent-view
  {
    margin-top: 10px !important;
  }
  header {

    height: 130px !important;
  }
  .logo
  {
    text-align: center !important;
  }

  #form-search {
    height: 326px !important;
    margin-top: 95px;

    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;

  }
 
  .formsearch
  {
    margin-top: 10px !important;
  }
  #section {
   
    height:450px !important;
    background-size: cover;
    margin-top: -85px !important;
  }
  
  #formsearch_btn
  {
    text-align: center !important;
  }
  .adds {
    background: #5e0016;
    width:115px;
    height:50px;
    color: #ffff;
   
    font-family: Montserrat;
  }
     .rate {
    
    width: 160px;
    margin-top: -49px !important;
    height: 50px;
  }

  #col-sm-row
  {
    margin-top: 10px !important;
  }
  .foot {
    background-color: #002f34;
    height: 85px !important;
  }
  .foot p {
    text-align: center;
    height: 30px;
    padding-top: 30px !important;
    padding-bottom: 30px !important;
    color: #ffffff;
    font-family: Montserrat;
  }
  #col-navlogin
  {
    margin-top: 10px !important;
  }
  .img-fluid {
	height: 250px;
	width: 425px;
}
.navbarbrand {
    display: block !important;
	padding-top: .3125rem;
	padding-bottom: .3125rem;
	margin-right: 1rem;
	font-size: 1.25rem;
	line-height: inherit;
	white-space: nowrap;
	color: #fff;
}
   .navbar-brand {
    display:none  !important;
	padding-top: .3125rem;
	padding-bottom: .3125rem;
	margin-right: 1rem;
	font-size: 1.25rem;
	line-height: inherit;
	white-space: nowrap;
}

}
@media only screen 
  and (min-device-width:480px) 
  and (max-device-width:620px)
{
	.banner_img
	{
		text-align:center;
	}
		#coin-notify {
	text-align: center;
	display: grid;
padding: 10px 10px 0px 0px  !important;
font-size:12px;
	}
	.card {
	height:720px !important;
}
  .text-Agent-name {
    text-align: center;
    margin-top: 30px;
  }
  .text-Agent-name ul {
    width: 100%;
    display: block;
    height: 50;
  }
  .text-Agent-name ul li {
    list-style-type: none;
    font-size: 16px;
    padding: 0px;
  }
  #About p
  {
    text-align: initial;
  }
  .nav-tabs li
  {
    width: 100%;
  }
  .ul-points1 {
    text-align: center;
  }
  .ul-points2 {
    text-align: center;
  }
  .ul-view-agent
  {
    width: 297px;
    height: fit-content;
    font-size: 16px;
    margin-left: -77px;
  }
  
  #header_1
  {
    height: 170px;
  }
  .text-Agent-name {
    text-align: center;
    margin-top: 30px;
  }
  .ul-points {
    width: 100%;
    
 text-align: center;
  }
  .verify-icon {
    text-align: center;
  }
  #card-agent-view {
    padding: 50px 30px 50px 26px !important;
    width: 479px !important;
  }
  .ul-points li {
    display: flex;
    margin-top: 5px;
    float: left;
  }
  #card-img-top
{
  
        width: 168px;
        height: 168px;
        margin-top: 190px;
        margin-left: 0px !important;
        border-radius: 100%;
		margin-right:0px !important;
 
}

  /* end viewagent.css */
	.float_right {
	float: none !important;
}
	.table thead th {
    vertical-align: baseline !important;
    border-bottom: 2px solid #dee2e6;
}
	#maxRows {
    width: 248px !important;
}
	.tb_search {
    width: 250px;
    margin-top: -54px;
}
	
	.table-responsive {
    display: block !important;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}
  .bg-light {
   
    z-index: 999 !important;
  }
 .navbar-brand {
    color: #fff;
    display: none !important;
  }
  #agent-view
  {
    margin-top: 10px !important;
  }
  header {
   
    height: 130px !important;
  }
  .logo
  {
    text-align: center !important;
  }

 #form-search {
	height: 279px !important;
	margin-top: 70px !important;

	padding-left: 50px;
	padding-right: 50px;
	padding-top: 20px;

}
  .formsearch
  {
    margin-top: 10px !important;
  }
  #section {
  
    height: 360px !important;
    background-size: cover;
    margin-top: -85px !important;
  }
  #formsearch_btn
  {
    text-align: center !important;
  }
    .adds {
    background: #5e0016;
    width:115px;
    height:50px;
    color: #ffff;
   
    font-family: Montserrat;
  }
     .rate {
 
    width: 160px;
   margin-top: -49px !important;
    height: 50px;
  }
  #col-sm-row
  {
    margin-top: 10px !important;
  }
  .foot {
    background-color: #002f34;
    height: 70px !important;
  }
  .foot p {
    text-align: center;
    height: 30px;
    padding-top: 30px !important;
    padding-bottom: 30px !important;
    color: #ffffff;
    font-family: Montserrat;
  }
  #col-navlogin
  {
    margin-top: 10px !important;
  }
 .img-fluid {
	height: 250px;
	width: 100% !important;
}
.bg-light {
 
  z-index: 9999 !important;
}
.navbarbrand {
    display: block !important;
	padding-top: .3125rem;
	padding-bottom: .3125rem;
	margin-right: 1rem;
	font-size: 1.25rem;
	line-height: inherit;
	white-space: nowrap;
	color: #fff;
}
   .navbar-brand {
    display: none !important;
	padding-top: .3125rem;
	padding-bottom: .3125rem;
	margin-right: 1rem;
	font-size: 1.25rem;
	line-height: inherit;
	white-space: nowrap;
}
}
@media only screen 
  and (min-device-width:620px) 
  and (max-device-width:720px)
  {
    .text-Agent-name {
      text-align: center;
      margin-top: 30px;
    }
    .text-Agent-name ul {
      width: 100%;
      display: block;
      height: 50;
    }
    .text-Agent-name ul li {
      list-style-type: none;
      font-size: 16px;
      padding: 0px;
    }
    #About p
    {
      text-align: initial;
    }
    
    .ul-points1 {
      text-align: center;
    }
    .ul-points2 {
      text-align: center;
    }
    .ul-view-agent
    {
      width: 297px;
      height: fit-content;
      font-size: 16px;
      margin-left: -77px;
    }
    
    #header_1
    {
      height: 170px;
    }
    .text-Agent-name {
      text-align: center;
      margin-top: 30px;
    }
    .ul-points {
      width: 100%;
      
   text-align: center;
    }
    .verify-icon {
      text-align: center;
    }
    #card-agent-view {
      padding: 50px 30px 50px 26px !important;
      width: 511px !important;
    }
    .ul-points li {
      display: flex;
      margin-top: 5px;
      float: left;
    }
  #card-img-top
{
  
        width: 168px;
        height: 168px;
        margin-top: 190px;
        margin-left:165px;
        border-radius: 100%;
		margin-right:0px;
 
}

    /* end viewagent.css */
	  .float_right {
	float: none !important;
}
	  .table thead th {
    vertical-align: baseline !important;
    border-bottom: 2px solid #dee2e6;
}
	#maxRows {
    width: 248px !important;
}
	.tb_search {
    width: 250px;
    margin-top: -54px;
}
	
	.table-responsive {
    display: block !important;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}
	  #col-sm-row
	  {
		  margin-top:10px !important;
	  }
	  
   .carddetails ,.h6
{
 font-size:12px !important;
}
 
   .img-fluid {
    height: 300px !important;
	width:508px !important;
}
.navbarbrand {
    display: block !important;
	padding-top: .3125rem;
	padding-bottom: .3125rem;
	margin-right: 1rem;
	font-size: 1.25rem;
	line-height: inherit;
	white-space: nowrap;
	color: #fff;
}
   .navbar-brand {
    display: none !important;
	padding-top: .3125rem;
	padding-bottom: .3125rem;
	margin-right: 1rem;
	font-size: 1.25rem;
	line-height: inherit;
	white-space: nowrap;
}
 
    header {
      
      height: 126px !important;
    }
    #section {
      background-image: url('../img/70.jpg');
      height: 450px;
      background-size: cover;
      margin-top: -80px !important;
    }
    #form-search {
    height: 282px !important;
    margin-top: 150px;
   
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    
}
.formsearch
{
margin-top:10px !important;
float:right;
}
    .adds {
    background: #5e0016;
    width:115px;
    height:50px;
    color: #ffff;
   
    font-family: Montserrat;
  }
     .rate {
   
    width: 160px;
   margin-top: -49px !important;
    height: 50px;
  }

#card-details li {
  /* padding-left: 10px; */
  list-style-type: none;
  padding: 15px 15px 15px 15px !important;
  font-size: 12px !important;
}
.bg-light {
   
    z-index: 999 !important;
  }

#col-navlogin
{
  margin-top: 20px !important;
}

.logo
{
  text-align: center !important;
}
.btn-viewmore {
    text-align: center;
   
}
 .img-fluid {
	height: 250px;
	width: 100% !important;
}
.card {
	height:740px !important;
}
  }
@media only screen 
  and (min-device-width:720px) 
  and (max-device-width:760px)
  {
	  	  .btn-dashboard {
    background-color: #ebebeb;
    width: 150px;
    height: 150px;
   
	    font-size: 12px;
}
.btn-dashboard:hover{
    width: 150px;
    height: 150px;
    
    box-shadow: #000 1px 9px 20px 0px;
  font-size: 12px;
  transition: 0.2s ease-out;
 
}
    .text-Agent-name {
      text-align: center;
      margin-top: 30px;
    }
    .text-Agent-name ul {
      width: 100%;
      display: block;
      height: 50;
    }
    .text-Agent-name ul li {
      list-style-type: none;
      font-size: 16px;
      padding: 0px;
    }
    #About p
    {
      text-align: initial;
    }
    .ul-points {
    
      
      text-align: center;
       }
       .verify-icon {
         text-align:center;
       }
    .ul-points1
    {
      text-align:center;
    }
    .ul-points2
    {
      text-align:center;
    }
    .ul-view-agent
    {
      width: 297px;
      height: fit-content;
      font-size: 16px;
      margin-left: -77px;
    }
    
    #header_1
    {
      height: 170px;
    }
    .text-Agent-name {
      text-align: center;
      margin-top: 30px;
    }
   
    #card-agent-view {
      padding: 50px 30px 50px 26px !important;
      width: 512px !important;
    }
    .ul-points li {
      display: flex;
      margin-top: 5px;
      float: left;
    }
    #card-img-top
  {
    
          width: 168px;
          height: 168px;
          margin-top: 190px;
          margin-left: 165px;
          border-radius: 100%;
		  margin-right:0px;
   
  }
  
    /* end viewagent.css */
    .bg-light {
 
      z-index: 9999 !important;
    }
	  	  .table thead th {
    vertical-align: baseline !important;

}
	#maxRows {
    width: 248px !important;
}
	.tb_search {
    width: 250px;
    margin-top: 0px !important;
}
	
	.table-responsive {
    display: block !important;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}
	
.navbarbrand {
    display: block !important;
	padding-top: .3125rem;
	padding-bottom: .3125rem;
	margin-right: 1rem;
	font-size: 1.25rem;
	line-height: inherit;
	white-space: nowrap;
	color: #fff;
}
 #navbarbrand {
    display: none !important;
	padding-top: .3125rem;
	padding-bottom: .3125rem;
	margin-right: 1rem;
	font-size: 1.25rem;
	line-height: inherit;
	white-space: nowrap;
	color: #fff;
}
.navbar-brand 
{
	  display: none !important;
}
    header {
      
      height: 126px !important;
    }
    #section {
      background-image: url('../img/70.jpg');
      height: 450px;
      background-size: cover;
      margin-top: -80px !important;
    }
#form-search {
	height: 280px !important;
	margin-top: 150px;
	
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 20px;
	
}
#h6 {
	font-size: 10px !important;
	font-weight:800;
}
#card-details {
	height: 80px;
	
	margin-top: 10px;

}
.card {
	height:auto !important;
}
#formsearch_btn
{
margin-top:-2px !important;
}
.formsearch
{
margin-top:10px !important;
}
    .adds {
    background: #5e0016;
    width:115px;
    height:50px;
    color: #ffff;
   
    font-family: Montserrat;
  }
     .rate {
  
    width: 100px;
   margin-top: -49px !important;
    height: 50px;
  }

#card-details li {
  /* padding-left: 10px; */
  list-style-type: none;

  font-size: 12px !important;
}

#col-navlogin
{
  margin-top: 20px !important;
}

.logo
{
  text-align: center !important;
}
.btn-viewmore {
    text-align: center;
 
}
#rate-h5 {
	font-weight: bold;
	padding: 6px 10px 10px 10px;
	font-family: Montserrat;
	font-size: 13px;
}
}
@media only screen 
  and (min-device-width:760px) 
  and (max-device-width:1200px)
  {
	  #select_formcontrol {
	width: 40%;
	margin-left: 47px;
}
	#select_form-control {
	width: 40%;
	margin-left: 50px;
}
	  .card {
	height:980px !important;
}
    .ul-points {
    
      
      text-align: center;
       }
       .verify-icon {
         text-align: end;
       }
    .ul-points1
    {
      text-align: end;
    }
    .ul-points2
    {
      text-align: end;
    }
    .ul-view-agent
    {
      width: 297px;
      height: fit-content;
      font-size: 16px;
      margin-left: -77px;
    }
    
    #header_1
    {
      height: 170px;
    }
    .text-Agent-name {
      text-align: center;
      margin-top: 30px;
    }
   
    #card-agent-view {
      padding: 50px 30px 50px 26px !important;
      width: 693px !important;
    }
    .ul-points li {
      display: flex;
      margin-top: 5px;
      float: left;
    }
    #card-img-top
  {
    
          width: 168px;
          height: 168px;
          margin-top: 190px;
          margin-left: 251px;
          border-radius: 100%;
		  margin-right:0px;
   
  }
  
    /* end viewagent.css */
	  .btn-dashboard {
    background-color: #ebebeb;
    width: 150px;
    height: 150px;
   padding: 58px 40px 40px 38px;
	    font-size: 12px;
}
.btn-dashboard:hover{
    width: 150px;
    height: 150px;
    
    box-shadow: #000 1px 9px 20px 0px;
  font-size: 12px;
  transition: 0.2s ease-out;
 
}
	

 .navbarbrand {
    display:none !important;
	padding-top: .3125rem;
	padding-bottom: .3125rem;
	margin-right: 1rem;
	font-size: 1.25rem;
	line-height: inherit;
	white-space: nowrap;
	color: #fff;
}
   .navbar-brand {
      display:block !important;
	padding-top: .3125rem;
	padding-bottom: .3125rem;
	margin-right: 1rem;
	font-size: 1.25rem;
	line-height: inherit;
	white-space: nowrap;
}
    header {
      
      height: 126px !important;
    }
    #section {
      background-image: url('../img/70.jpg');
      height: 450px;
      background-size: cover;
      margin-top: -80px !important;
    }
    #form-search {
    height:150px !important;
    margin-top: 150px;
   
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
	}
#h6 {
	font-size: 10px !important;
	font-weight:800;
}
#card-details {
	height: 80px;
	display: flex;
	margin-top: 10px;

}
.card {
	height:auto !important;
}
#rate-h5 {
	font-weight: bold;
	padding: 6px 10px 10px 10px;
	font-family: Montserrat;
	font-size: 16px;
}
#formsearch_btn
{
margin-top:-2px !important;
}
.formsearch
{
margin-top:10px !important;
}
    .adds {
    background: #5e0016;
    width:115px;
    height:50px;
    color: #ffff;
   
    font-family: Montserrat;
  }
     .rate {
    
    width: 100px;
   margin-top: -49px !important;
    height: 50px;
  }

#card-details li {
  /* padding-left: 10px; */
  list-style-type: none;

  font-size: 12px !important;
}

#col-navlogin
{
  margin-top: 20px !important;
}

.logo
{
  text-align: center !important;
}
.btn-viewmore {
    text-align: center;

}

}


