@media only screen 
  and (min-device-width: 210px) 
  and (max-device-width:320px)
{
  .edit-nav li
  {
    margin-top: 10px !important;
  }
  #agent-view
  {
    margin-top: 10px !important;
  }
  header {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 115px !important;
  }
  .logo
  {
    text-align: center !important;
  }
  .navlogin {
    justify-content: center !important;
  }
  .navlogin li a {
    padding: 20px 18px 20px 30px !important;
  }
  #form-search {
    height: 230px !important;
    margin-top: 220px;
    background: linear-gradient(171deg, black, transparent);
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    box-shadow: linear-gradient(171deg, black, transparent);
  }
  .formsearch
  {
    margin-top: 10px !important;
  }
  #section {
   
    height: 530px !important;
    background-size: cover;
  }
  #formsearch_btn
  {
    text-align: center !important;
  }
  .adds {
    background: #5e0016;
    width: 150px;
    margin-left: 10px;
    color: #ffff;
    padding-left: 32px;
    padding-right: 10px;
    padding-top: 10px;
    border-radius: 100px;
    margin-top: -149px !important;
    font-family: Montserrat;
  }
  #col-sm-row
  {
    margin-top: 10px !important;
  }
  .foot {
    background-color: #002f34;
    height: 130px !important;
  }
  .foot p {
    text-align: center;
    height: 30px;
    padding-top: 30px !important;
    padding-bottom: 30px !important;
    color: #ffffff;
    font-family: Montserrat;
  }
  #col-navlogin
  {
    margin-top: 10px !important;
  }
  .rate {
    background: #ffd60c;
    width: 160px;
    margin-top: 57px !important;
    height: 50px;
  }
 }
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
{
  #agent-view
  {
    margin-top: 10px !important;
  }
  header {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 130px !important;
  }
  .logo
  {
    text-align: center !important;
  }
  .navlogin {
    justify-content: center !important;
  }
  .navlogin li a {
    padding: 20px 24px 20px 18px !important;
  }
  #form-search {
    height: 230px !important;
    margin-top: 220px;
    background: linear-gradient(171deg, black, transparent);
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    box-shadow: linear-gradient(171deg, black, transparent);
  }
  .formsearch
  {
    margin-top: 10px !important;
  }
  #section {
   
    height: 530px !important;
    background-size: cover;
  }
  #formsearch_btn
  {
    text-align: center !important;
  }
  .adds {
    background: #5e0016;
    width: 150px;
    margin-left: 10px;
    color: #ffff;
    padding-left: 32px;
    padding-right: 10px;
    padding-top: 10px;
    border-radius: 100px;
    margin-top: -168px !important;
    font-family: Montserrat;
  }
  #col-sm-row
  {
    margin-top: 10px !important;
  }
  .foot {
    background-color: #002f34;
    height: 230px !important;
  }
  .foot p {
    text-align: center;
    height: 30px;
    padding-top: 30px !important;
    padding-bottom: 30px !important;
    color: #ffffff;
    font-family: Montserrat;
  }
  #col-navlogin
  {
    margin-top: 10px !important;
  }
  .rate {
    background: #ffd60c;
    width: 160px;
    margin-top:76px !important;
    height: 50px;
  }
}
@media only screen 
  and (min-device-width:480px) 
  and (max-device-width:620px)
{
  #agent-view
  {
    margin-top: 10px !important;
  }
  header {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 130px !important;
  }
  .logo
  {
    text-align: center !important;
  }
  .navlogin {
    justify-content: center !important;
  }
  .navlogin li a {
    padding: 10px 64px 10px 75px !important;
  }
  #form-search {
    height: 230px !important;
    margin-top: 220px;
    background: linear-gradient(171deg, black, transparent);
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    box-shadow: linear-gradient(171deg, black, transparent);
  }
  .formsearch
  {
    margin-top: 10px !important;
  }
  #section {
  
    height: 530px !important;
    background-size: cover;
  }
  #formsearch_btn
  {
    text-align: center !important;
  }
  .adds {
    background: #5e0016;
    width: 150px;
    margin-left: 10px;
    color: #ffff;
    padding-left: 32px;
    padding-right: 10px;
    padding-top: 10px;
    border-radius: 100px;
    margin-top: -275px !important;
    font-family: Montserrat;
  }
  #col-sm-row
  {
    margin-top: 10px !important;
  }
  .foot {
    background-color: #002f34;
    height: 70px !important;
  }
  .foot p {
    text-align: center;
    height: 30px;
    padding-top: 30px !important;
    padding-bottom: 30px !important;
    color: #ffffff;
    font-family: Montserrat;
  }
  #col-navlogin
  {
    margin-top: 10px !important;
  }
  .rate {
    background: #ffd60c;
    width: 160px;
    margin-top: 183px !important;
    height: 50px;
  }
}
@media only screen 
  and (min-device-width:620px) 
  and (max-device-width:820px)
  {
    header {
      margin-top: 10px;
      margin-bottom: 10px;
      height: 126px !important;
    }
    .navlogin li  a {
      padding: 10px 108px 10px -14px !important;
  }
    .adds {
      background: #5e0016;
      width: 150px;
      margin-left: 10px;
      color: #ffff;
      padding-left: 32px;
      padding-right: 10px;
      padding-top: 10px;
      border-radius: 100px;
      margin-top: -122px !important;
      font-family: Montserrat;
  }
  .rate {
    background: #ffd60c;
    width: 120px !important;
    margin-top: 31px;
    height: 50px;
}
#card-details li {
  /* padding-left: 10px; */
  list-style-type: none;
  padding: 5px 5px 5px 5px !important;
  font-size: 12px !important;
}
header {
  margin-top: 10px;
  margin-bottom: 10px;

}
#col-navlogin
{
  margin-top: 20px !important;
}

.logo
{
  text-align: center !important;
}
  }
